@use '../../../shared/styles/typography.scss';
@use '../../../shared/styles/colors.scss';

.edit-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    &__profile {
        display: flex;
        gap: 40px;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 32px;
        }
    }

    &__backbtn {
        & a {
            display: flex;
            align-items: center;
            text-decoration: none;
            @include typography.headline-semibold-20;
            color: colors.$color-02;

            & svg {
                color: colors.$color-02;
            }

            @media (max-width: 767px) {
                @include typography.headline-semibold-18-mobile;
            }
        }
    }
}