@use '../../../shared/styles/colors.scss';
@use '../../../shared/styles/typography.scss';


.profile-data-widget {
    border-radius: 16px;
    padding: 40px;
    background-color: colors.$color-06;
    width: 760px;

    &__header {
        @include typography.title-semibold-24;
        color: colors.$color-01;
    }

    @media (max-width: 1024px) {
        width: 360px;
        padding: 28px;
    }

    @media (max-width: 767px) {
        width: 340px;
        padding: 28px;
    }
}