@use '../../../shared/styles/colors.scss';
@use '../../../shared/styles/typography.scss';

.main-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 1160px;

    &__loader-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    &__lists-container {
        display: flex;
        flex-direction: column;
        gap: 40px
    }

    &__header {
        @include typography.title-semibold-24;

        & hr {
            margin-block-start: 16px;
            margin-block-end: 28px;

            @media (max-width: 767px) {
                margin-block-end: 16px;
            }
        }
    }
}